{# templates/siteCom/index.html.twig #}
{% extends 'base.html.twig' %}
  {% block stylesheets %}
    {{parent()}}
  {% endblock %}
  {% block body %}
      {% block header %}
      {{parent()}}
      {% endblock %}
      {% block carousel %}
      {{parent()}}
    {% endblock %}

    {% block article %}

        {% block h1 %}
          <h1> Connexion </h1>
        {% endblock %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal loginFrm'} }) }}
       <div class="control-group">
        {{ form_widget(form) }}
         </div>
        {{ form_end(form) }}
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    {% endblock %}


    {% endblock %}

    {% block footer %}
    {{parent()}}
    {% endblock %}
{% endblock %}
