{# templates/siteCom/index.html.twig #}
{% extends 'base.html.twig' %}
  {% block stylesheets %}
    {{parent()}}
  {% endblock %}
  {% block body %}
      {% block header %}
      {{parent()}}
      {% endblock %}
      {% block carousel %}
      {{parent()}}
      {% endblock %}
        
      {% block Article %}

        {% block h1 %}
          <h1> Connexion </h1>
        {% endblock %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

 {% endblock %}

      {% block footer %}
        {{parent()}}
        {% endblock %}
  {% endblock %}