{# templates/siteCom/index.html.twig #}
{% extends 'base.html.twig' %}
  {% block stylesheets %}
    {{parent()}}
  {% endblock %}
  {% block body %}
      {% block header %}
      {{parent()}}
      {% endblock %}
      {% block carousel %}
      {{parent()}}
      {% endblock %}

                  {% block article %}

        {% block h1 %}
          <h1> Connexion </h1>
        {% endblock %}
        {{ form_start(formConnexion) }}
        {{ form_widget(formConnexion) }}
        {{ form_end(formConnexion) }}

             <!-- ARTICLE FIN====================================================================== -->
                  {% endblock %}

      {% block footer %}
        {{parent()}}
      {% endblock %}
  {% endblock %}