{# templates/siteCom/index.html.twig #}
{% extends 'baseOwa.html.twig' %}

{% block body %}

{% block header %}
{{parent()}}
{% endblock %}
{% block article %}
<section class="header_text sub">
<img class="pageBanner" src="/my-project/public/themeshenrick/images/pageBanner.png" alt="New products" >
  <h4><span>Detail du produit</span></h4>
</section>

<section class="main-content">
  <div class="row">
    <div class="span9">
      <div class="row">
        <div class="span4">

          {% for article in produit %}
        <img alt="" src="{{article.getAdresPhoto}}">

        </div>
        <div class="span5">
          <address>
            <strong>Designation:</strong> <span>{{article.getDesignation}}</span><br>
          </address>
          <h4><strong>Prix: {{article.getPrix}}</strong></h4>
        </div>
        <div class="span5">
          <form class="form-inline">

            <input type="text" class="span1" placeholder="1">
            <button class="btn btn-inverse" type="submit">Ajouter au panier</button>
          </form>
        </div>
      </div>
     
      <div class="row">
        <div class="span9">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home">Description</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
            <div class="tab-pane" id="profile">
             {{article.description}}
            </div>
          </div>
          </div>
	 {% endfor %}
        <div class="span9">
          <br>
          <h4 class="title">
            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
            <span class="pull-right">
              <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
            </span>
          </h4>
          <div id="myCarousel-1" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="/themeshenrick/images/legume/6.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                      <a href="#" class="category">Suspendisse aliquet</a>
                      <p class="price">$341</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="/themeshenrick/images/legume/5.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                      <a href="#" class="category">Phasellus consequat</a>
                      <p class="price">$341</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <a href="product_detail.html"><img alt="" src="/themeshenrick/images/legume/4.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Praesent tempor sem</a><br/>
                      <a href="#" class="category">Erat gravida</a>
                      <p class="price">$28</p>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block script %}
{{parent()}}
{% endblock %}
{% endblock %}
