{# templates/siteCom/index.html.twig #}
{% extends 'baseOwa.html.twig' %}
  {% block stylesheets %}
    {{parent()}}
  {% endblock %}
  {% block body %}
      {% block header %}
      {{parent()}}
      {% endblock %}
      {% block carousel %}
      {{parent()}}
      {% endblock %}

                  {% block article %}
       
          <h1> Inscription </h1>
        
        {{ form_start(formInscription, {'attr': {'class': 'inscription'} }) }}
        {{ form_widget(formInscription) }}
        {{ form_end(formInscription) }}
                <!-- ARTICLE FIN====================================================================== -->
                  {% endblock %}

      {% block footer %}
        {{parent()}}
      {% endblock %}
  {% endblock %}
