<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
{% block title%}
		<title>Les fruits et légumes frais</title>
{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
{% block stylesheets %}
        <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/my-project/public/bootstraphenrick/css/bootstrap.min.css" rel="stylesheet">
		<link href="/my-project/public/bootstraphenrick/css/bootstrap-responsive.min.css" rel="stylesheet">

		<link href="/my-project/public/themeshenrick/css/bootstrappage.css" rel="stylesheet"/>
		<!-- global styles -->
		<link href="/my-project/public/themeshenrick/css/flexslider.css" rel="stylesheet"/>
		<link href="/my-project/public/themeshenrick/css/main.css" rel="stylesheet"/>
		<link href="/my-project/public/themeshenrick/css/paginationCentrer.css" rel="stylesheet"/>
		<link href="/my-project/public/themeshenrick/css/perso.css" rel="stylesheet"/>
         <!-- scripts -->
		<script src="/my-project/public/themeshenrick/js/jquery-1.7.2.min.js"></script>
		<script src="/my-project/public/bootstraphenrick/js/bootstrap.min.js"></script>
		<script src="/my-project/public/themeshenrick/js/superfish.js"></script>
		<script src="/my-project/public/themeshenrick/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>
			<script src="/my-project/public/http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="/my-project/public/js/respond.min.js"></script>
		<![endif]-->
		</head>
		<body>
{% endblock %}


{% block body %}

{% block header %}
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4"></div>
						{{ form_start(form, {'attr': {'class': 'search_form'} }) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">
							<li><a href="{{path('compte')}}">Mon Compte</a></li>
							<li><a href="{{path('panier')}}">Panier</a></li>
							<li><a href="{{path('connexion')}}">Connexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="{{path('owa')}}" class="logo pull-left"><img src="/my-project/public/themeshenrick/images/logo.png" class="site_logo" alt=""></a>

				</div>
			</section>

{% endblock %}

{% block footer %}
		    <section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							
						</ul>
					</div>
					<div class="span4">
						<h4>Compte</h4>
						<ul class="nav">
							<li><a href="#">Votre compte</a></li>
						</ul>
					</div>
						<div id="socialMedia" class="span3 pull-right">
								<h5>Réseaux sociaux</h5>
								<a href="https://www.facebook.com"><img width="60" height="60"script src="/my-project/public/themesfrank/images/facebook.png" title="facebook" alt="facebook"/></a>
								<a href="https://www.twitter.com"><img width="60" height="60"script src="/my-project/public/themesfrank/images/twitter.png" title="twitter" alt="twitter"/></a>
								<a href="https://www.youtube.com"><img width="60" height="60"script src="/my-project/public/themesfrank/images/youtube.png" title="youtube" alt="youtube"/></a>
						</div>
					
				</div>
			</section>
			<section id="copyright">
				<span>Henrick Carneva developpeur symfony.</span>
			</section>
		</div>
{% endblock %}
{% block script %}
		<script src="/my-project/public/themes/js/common.js"></script>
		<script src="/my-project/public/themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
</body>
{% endblock %}
{% endblock %}
</html>
